# 4.1 欠測データへの対処

In [1]:
import pandas as pd
from io import StringIO

# サンプルデータを作成
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

# サンプルデータを読み込む
df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [2]:
# 各特徴量の欠測値をカウント
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [3]:
df.values

array([[  1.,   2.,   3.,   4.],
       [  5.,   6.,  nan,   8.],
       [ 10.,  11.,  12.,  nan]])

## 4.1.1 欠測値を持つサンプル/ 特徴量を取り除く

In [4]:
# 欠測値を含む行を削除
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [5]:
# 欠測値を含む列を削除
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [6]:
# すべての列がNaNである行だけを削除
df.dropna(how='all')

# 非NaN値が４つ未満の行を削除
df.dropna(thresh=4)

# 特定列（この場合は'c')にNaNが含まれている行だけを削除
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

## 4.1.2 欠測値を補完する

In [7]:
from sklearn.preprocessing import Imputer

# 欠測値補完のインスタンスを生成（平均値補完）
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)

# データを適合
imr = imr.fit(df)

# 補完を実行
imputed_data = imr.transform(df.values)
imputed_data

array([[  1. ,   2. ,   3. ,   4. ],
       [  5. ,   6. ,   7.5,   8. ],
       [ 10. ,  11. ,  12. ,   6. ]])