In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn  # 正規分布に従った乱数を返す

In [4]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [5]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [9]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [10]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [11]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [12]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

In [13]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [14]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
dframe = DataFrame(randn(25).reshape((5, 5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [18]:
dframe

       col1      col2      col3      col4      col5
A  0.211376 -0.772825 -1.121895  1.030633 -1.448760
B  0.052346  0.748958  2.162186  0.592389 -0.316403
D  0.655806  0.132605 -0.881295 -0.342748 -1.082501
E -0.711523  0.526677  1.294818  1.415908 -1.651725
F -0.781115 -0.424324 -1.436014  1.179051  0.837862

In [19]:
new_index = ['A', 'B', 'C', 'D', 'E', 'F']

In [21]:
dframe2 = dframe.reindex(new_index)

In [22]:
dframe2

       col1      col2      col3      col4      col5
A  0.211376 -0.772825 -1.121895  1.030633 -1.448760
B  0.052346  0.748958  2.162186  0.592389 -0.316403
C       NaN       NaN       NaN       NaN       NaN
D  0.655806  0.132605 -0.881295 -0.342748 -1.082501
E -0.711523  0.526677  1.294818  1.415908 -1.651725
F -0.781115 -0.424324 -1.436014  1.179051  0.837862

In [23]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [24]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.211376 -0.772825 -1.121895  1.030633 -1.448760   NaN
B  0.052346  0.748958  2.162186  0.592389 -0.316403   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.655806  0.132605 -0.881295 -0.342748 -1.082501   NaN
E -0.711523  0.526677  1.294818  1.415908 -1.651725   NaN
F -0.781115 -0.424324 -1.436014  1.179051  0.837862   NaN

In [25]:
dframe

       col1      col2      col3      col4      col5
A  0.211376 -0.772825 -1.121895  1.030633 -1.448760
B  0.052346  0.748958  2.162186  0.592389 -0.316403
D  0.655806  0.132605 -0.881295 -0.342748 -1.082501
E -0.711523  0.526677  1.294818  1.415908 -1.651725
F -0.781115 -0.424324 -1.436014  1.179051  0.837862

In [26]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  0.211376 -0.772825 -1.121895  1.030633 -1.448760   NaN
B  0.052346  0.748958  2.162186  0.592389 -0.316403   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.655806  0.132605 -0.881295 -0.342748 -1.082501   NaN
E -0.711523  0.526677  1.294818  1.415908 -1.651725   NaN
F -0.781115 -0.424324 -1.436014  1.179051  0.837862   NaN