In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records

ここからデータをコピーする

In [2]:
nfl_frame = pd.read_clipboard()

In [3]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East

In [4]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL', 'Season',
       'Total', 'Games', 'Division'],
      dtype='object')

In [5]:
nfl_frame.Team

0     Dallas
1      Green
2    Chicago
3      Miami
4        New
5        New
Name: Team, dtype: object

In [7]:
nfl_frame['Total']

0      NFC
1    1,320
2      NFC
3      AFC
4      868
5    1,289
Name: Total, dtype: object

In [8]:
nfl_frame[['Team', 'Won']]

      Team       Won
0   Dallas   Cowboys
1    Green       Bay
2  Chicago     Bears
3    Miami  Dolphins
4      New   England
5      New      York

In [9]:
DataFrame(nfl_frame, columns=['Team', 'Won'])

      Team       Won
0   Dallas   Cowboys
1    Green       Bay
2  Chicago     Bears
3    Miami  Dolphins
4      New   England
5      New      York

In [10]:
DataFrame(nfl_frame, columns=['Team', 'Won', 'Stadium'])

      Team       Won  Stadium
0   Dallas   Cowboys      NaN
1    Green       Bay      NaN
2  Chicago     Bears      NaN
3    Miami  Dolphins      NaN
4      New   England      NaN
5      New      York      NaN

In [11]:
nfl_frame.head()
# 先頭の５行

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

In [12]:
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North

In [13]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East

In [14]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             439
Tied             341
Pct.               4
First          0.563
NFL             1966
Season           784
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [16]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [17]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,Levi's Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,Levi's Stadium
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,Levi's Stadium
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,Levi's Stadium
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,Levi's Stadium
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East,Levi's Stadium

In [18]:
nfl_frame['Stadium'] = np.arange(6)

In [20]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,0
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,1
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,2
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,3
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,4
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East,5

In [21]:
stadiums = Series(["Levi's Stadium", 'AT&T Stadium'], index=[4, 0])

In [22]:
nfl_frame['Stadium'] = stadiums

In [23]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,AT&T Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,NaN
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,Levi's Stadium
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East,NaN

In [24]:
del nfl_frame['Stadium']

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East

In [26]:
data = {'City':['SF', 'LA', 'NYC'], 'Population':[837000, 3880000, 8400000]}

In [27]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [28]:
city_frame = DataFrame(data)

In [29]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000